.btn {
  cursor: pointer;
  border: 0;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.delete {
  background-color: #c12323;
  color: white;
  margin-left: 5px;
}
.delete:hover {
  background-color: #9c1515;
}

.todos div {
  display: flex;
}
.todo {
  margin-top: 5px;
}
